.img-item{
    height: 180px !important;
    width: 252px !important;
    border-radius: 5px;
}

.item-description {
    color: #8C8C8C;
    font-family: Almarai;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
  }
  .item-title {
    color: #555555;
    font-family: Almarai;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
  }

  .card-color {
    background-color: #F8F8F8;
  }
  .item-price {
    color: #B45B35;
    font-family: Almarai;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
  }